<!DOCTYPE html>
<html lang="en">

<%- include('head.ejs'); %>

<body>
<section data-page="filter">
  <h1>WARNING</h1>
      </br>
      </br>
      <p>We zien dat je al 4 keer je filters hebt aangepast... Weet je wel waar je naar op zoek bent? Misschien is het beter om hier nog even over na te denken..</p>
      <p>Deze datingsite is namelijk alleen voor personen die weten waar ze naar op zoek zijn</p>

      <h6>Of was het slechts een foutje?</h6>
      </br>
      <a class="adjustFilters" href="/new-filter/ <%= id %>"/><button>Ik weet wel wat ik wil (zoek verder)</button></a>

  </section>
    <script type="text/javascript" src="/static/js/script.js"></script>
  </body>
  </html>
